<% layout('layouts/boilerplate') %>

<div class="mb-3 col-2">
    <a href="/lists" class="card-link btn btn-danger">Cancel</a>
</div>

<h1>Edit List</h1>

<div class="mb-3 col-8">
    <form action="/lists/<%=list._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="listTitle" class="form-label">Title</label>
            <input type="text" class="form-control" name="list[listTitle]" value="<%=list.listTitle %>" required>
        </div>
        <div class="mb-3">
            <label for="listDescription">Description</label>
            <textarea class="form-control" id="listDescription" name="list[listDescription]" required><%= list.listDescription%></textarea>

        </div>
        <button type="submit" class="btn btn-success">Update List</button>

    </form>


</div>