<% layout('layouts/boilerplate') %>

<div class="mb-3 col-2">
    <a href="/lists" class="card-link btn btn-primary">Back</a>
</div>

<h1>New List</h1>

<div class="mb-3 col-8">
    <form action="/lists/create" method="POST">
        <div class="mb-3">
            <label for="listTitle" class="form-label">Title</label>
            <input type="text" class="form-control" name="list[listTitle]" id="listTitle" placeholder="List title">
        </div>
        <div class="mb-3">
            <label for="listDescription">Description</label>
            <textarea class="form-control" placeholder="Description" id="listDescription"
                name="list[listDescription]"></textarea>

        </div>
        <button type="submit" class="btn btn-success">Create List</button>

    </form>


</div>