<% layout('layouts/boilerplate') %>
    <form class="needs-validation" action="/lists" method="POST" novalidate>

        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="list[title]" required>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="list[description]" required>
        </div>
        <div>
            <!--<label class="form-label" for="personalRating">Personal Rating</label>
            <input type="text" id="personalRating" placeholder="0" default="0" name="movie[personalRating]">-->
        </div>
        <button>Add List</button>
    </form>
    <a href="/movies">All Movies</a>