<% layout('layouts/boilerplate') %>
    <form class="needs-validation" action="/lists" method="POST" novalidate>

        <div>
            <label for="listTitle">Title</label>
            <input type="text" id="listTitle" name="list[listTitle]" required>
        </div>
        <div>
            <label for="listDescription">Description</label>
            <input type="text" id="listDescription" name="list[listDescription]" required>
        </div>
        <div>
            <!--<label class="form-label" for="personalRating">Personal Rating</label>
            <input type="text" id="personalRating" placeholder="0" default="0" name="movie[personalRating]">-->
        </div>
        <button>Add List</button>
    </form>
    <a href="/lists">All Lists</a>