<% layout('layouts/boilerplate') %>
    <form class="needs-validation" action="/movies" method="POST" novalidate>

        <div>
            <label for="movieTitle">Title</label>
            <input type="text" id="movieTitle" name="movie[movieTitle]" required>
        </div>
        <div>
            <label for="movieDescription">Description</label>
            <input type="text" id="movieDescription" name="movie[movieDescription]" required>
        </div>
        <div>
            <!--<label class="form-label" for="personalRating">Personal Rating</label>
            <input type="text" id="personalRating" placeholder="0" default="0" name="movie[personalRating]">-->
        </div>
        <button>Add Movie</button>
    </form>
    <a href="/movies">All Movies</a>